/* Geist Sans */
@font-face {
  font-family: "GeistSans";
  src: url("/fonts/geist-sans/Geist-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "GeistSans";
  src: url("/fonts/geist-sans/Geist-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "GeistSans";
  src: url("/fonts/geist-sans/Geist-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

/* Geist Mono */
@font-face {
  font-family: "GeistMono";
  src: url("/fonts/geist-mono/GeistMono-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "GeistMono";
  src: url("/fonts/geist-mono/GeistMono-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "GeistMono";
  src: url("/fonts/geist-mono/GeistMono-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}