<div class="not-prose bg-destructive border-l-4 border-slate-800 dark:border-slate-50 p-4 my-4">
  <div class="flex">
    <div class="ml-3 space-y-2">
      <h3 class="font-bold mt-0">
        This post may be out of date
      </h3>
      <p>
        This blog used to be published on <a class="text-foreground underline" href="https://bearblog.dev">bearblog.dev</a>. It's been updated, but the content here refers to a past configuration or implementation that may not be relevant any longer to the current version of this blog.
      </p>
    </div>
  </div>
</div>
