---
const today = new Date();
---

<footer class="text-foreground/60 slide-enter-content " style="--stagger: 20">
  <p>
  &copy; 2012 - {today.getFullYear()} Kristian Freeman. All rights reserved.
  <a class="text-foreground/60 underline" href="/colophon">Colophon</a>.
  </p>
</footer>
