---
import { getCollection } from "astro:content";
import BaseHead from "@/components/BaseHead.astro";
import Header from "@/components/Header.tsx";
import Footer from "@/components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "@/consts";
import CommandMenu from "@/components/CommandMenu.tsx";
const { fullWidth, title, description } = Astro.props;
const posts = await getCollection("blog");
const allTags = [
  ...new Set(
    posts
      .map((post) => post.data.tags)
      .flat()
      .filter(Boolean)
  ),
].sort();
---

<!doctype html>
<html lang="en" class="dark">
  <head>
    <BaseHead
      title={title || SITE_TITLE}
      description={description || SITE_DESCRIPTION}
    />
  </head>

  <body class="bg-base px-4 md:px-0">
    <CommandMenu client:only="react" posts={posts} tags={allTags} />
    <div class="container mx-auto space-y-8">
      <Header url={Astro.url} />
      <main class={fullWidth ? "max-w-full prose" : "prose"}>
        <slot />
      </main>
      <Footer />
    </div>
  </body>
</html>
