---
import { getCollection } from "astro:content";
import BaseHead from "@/components/BaseHead.astro";
import Footnotes from "@/components/Footnotes.tsx";
import Header from "@/components/Header.tsx";
import Footer from "@/components/Footer.tsx";
import { SITE_TITLE, SITE_DESCRIPTION } from "@/consts";
import CommandMenu from "@/components/CommandMenu.tsx";
const { fullWidth, title, description } = Astro.props;

const posts = await getCollection("blog");
const tags = await getCollection("tag");
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead
      title={title || SITE_TITLE}
      description={description || SITE_DESCRIPTION}
    />
  </head>

  <body class="bg-gray-50 dark:bg-gray-950 px-4 w-full">
    <div class="mb-8">
      <Header url={Astro.url} />
    </div>
    <div class="max-w-(--breakpoint-md) lg:max-w-(--breakpoint-lg) mx-auto space-y-8">
      <main class={fullWidth ? "max-w-full prose" : "prose"}>
        <slot />
      </main>
      <Footer />
    </div>
    <Footnotes client:only="react" />
    <CommandMenu client:only="react" posts={posts} tags={tags} />
  </body>
</html>
